# Ignore everything
/*

# Except folders
!src/

# Except files
!.gitignore
!LICENSE
!README.md
!TOOLS.md
!HELP.md
!java.iml

# Except modules
!advanced.module.core/
!advanced.module.app/
!advanced.module.utils/
!basic.module/
!basic.module.utils/
